@function makelongshadow($length, $angle) {
  $val: 0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px #{$i * $angle}px #aaa;
  }
  @return $val;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700,900");

.main {
  background: rgb(6, 11, 27);
  padding-top: 100px;
  padding-bottom: 500px;
}

.text {
  margin: 0 auto;
  position: fixed;
  background: black;
  background-size: 50vw 50vh;
  color: white;
  padding-top: 40vh;
  height: 100%;
  width: 100%;
  z-index: 1000;
  height: 1000px;
  display: flex;
  justify-content: center;
}

@mixin Netflix {
  text-align: center;

  font-family: "Roboto";
  font-size: 9vmin;
  font-weight: 700;
  animation: netflix_style 3s infinite;
  outline: none;
  white-space: nowrap;
  animation-fill-mode: forwards;
  z-index: 1000;
}

.txt1 {
  @include Netflix;
  animation-delay: 0.25s;
}

.txt2 {
  @include Netflix;
  animation-delay: 0.5s;
}

.txt3 {
  @include Netflix;
  animation-delay: 0.75s;
}

.txt4 {
  @include Netflix;
  animation-delay: 1s;
}

.txt5 {
  @include Netflix;
  animation-delay: 1.25s;
}

.txt6 {
  @include Netflix;
  animation-delay: 1.5s;
}

.txt7 {
  @include Netflix;
  animation-delay: 1.5s;
}

.txt {
  @include Netflix;
}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(10, 2);
    color: #f3f3f3;
    opacity: 1;
  }
  10% {
    color: #f3f3f3;
  }
  20% {
    color: #f3f3f3;
    transform: scale(1.2, 1.2);
  }
  50% {
    text-shadow: makelongshadow(0, 1);
    color: #f3f3f3;
  }
  75% {
    color: #f3f3f3;
  }
  80% {
    color: #f3f3f3;
  }
  100% {
    opacity: 1;
  }
}
